vamakp.pem
*vama
**vamakp.pem
***vamakp.pem
/*/.terra*
/**/.terra*

/terraform_ec2_ansible/vamakp*
/terraform_ec2_ansible/.terra*
/terraform_ec2_ansible/terra*
/loops_terraform/.terra*
/loops_terraform/terra*
/tut-tf-loop/.terra*
/ec2/terraform*
/ec2/.terraform*
/launch_ec2/.terra*
/launch_ec2/vamakp.pem
/terraform_ec2_alb_nlb_rabbitmq/terraform.tfstate
/terraform_ec2_alb_nlb_rabbitmq/.terr*
/terraform_ec2_alb_nlb_rabbitmq/.terr*